.login {
  text-align: center;
  p {
    padding-top: 10px;
    line-height: .8em;
    font-size: 2em;
    text-align: left;
  }
  button {
    margin: 10px;
    width: 50%;
    height: 2em;
  }
  a {
    display: block;
    text-decoration: underline;
  }
}
