section.login
  header
    h1 Login
  div.panel
    article
      form(name='form', ng-submit='vm.login(form)', novalidate='')
        .form-group
          label Email
          input.form-control(type='email', name='email', ng-model='vm.user.email')
        .form-group
          label Password
          input.form-control(type='password', name='password', ng-model='vm.user.password')

        .form-group.has-error
          p.help-block(ng-show='form.email.$error.required && form.password.$error.required && vm.submitted')
            | Please enter your email and password.
          p.help-block {{ vm.errors.other }}

        button(type='submit')
          | Login
        = ' '
        a(ui-sref='signup')
          | Register


//-         | Accounts are reset on server restart from
//-         code server/config/seed.js
//-         | . Default account is
//-         code test@example.com
//-         | /
//-         code test
//-       p
//-         | Admin account is
//-         code admin@example.com
//-         | /
//-         code admin
