section
  header
    h1 Store Settings
  div.panel
    ul
      li category nesting
      li stripe user setup
        li secret key
      li Homepage settings
        li Welcome Customization
        li Carousel slots
        li Special Items
      li Color Themes
      li Store attributes
        li store name
        li header information/logo
        li order processing policy
