section.detail
  header
    h1 Product Detail
  div.panel
    p Home > Category > Sub Category > #####-##

    img(src="{{vm.product.image}}")

    article
      table
        tr
          td Name
          td {{vm.product.name}}
        tr
          td Category
          td {{vm.product.category}}
        tr
          td Quantity
          td {{vm.product.quantity}}
        tr
          td Custom 1
          td Custom 1 Field

    article.footer
      ul
        li Price
        li {{vm.product.price}}
      button.addCart Add to Cart
      //- button.warning Remove from Cart
      //- button.checkout Checkout?

    article
      p Description
      br
      p {{vm.product.description}}
