section.detail
  header
    h1 Product Detail
  div.panel
    p Home > Category > Sub Category > #####-##

    img(src="http://www.fillmurray.com/150/250")

    article
      table
        tr
          td Name
          td Name Field
        tr
          td Category
          td Category Field
        tr
          td Quantity
          td Quantity Field
        tr
          td Custom 1
          td Custom 1 Field

    article.footer
      ul
        li Price
        li $999.99
      button.warning Remove from Cart
      button.checkout Checkout?

    article
      p Description
