.detail {
  button {
    font-size: .9em;
    width: 50%;
    &.warning {
      width: 55%;
    }
    &.checkout {
      width: 45%;
    }
  }

  img {
    @include span-columns(4 of 12);
  }

  article {
    @include span-columns(8 of 12);
    @include omega;

    &.footer {
      text-align: center;
    }
  }

  article:last-child {
    @include span-columns(12 of 12);
    margin-top: 10px;
  }

  .quantitybutton {
    float: left;
  }
}
