header.navigation(role='banner' ng-controller='NavbarController')
  .navigation-wrapper
    a.logo(href='javascript:void(0)')
      img(src="http://www.fillmurray.com/500/200", alt='Logo Image')
    nav(role='navigation')
      //- House
      a.nav-icon(ui-sref='main')
        span.icon-home3
      //- Hamburger
      a.nav-icon(href="#" ng-click="nav.isCollapsed = !nav.isCollapsed")
        span(ng-class='{"icon-menu3": nav.isCollapsed, "icon-menu4": !nav.isCollapsed}')
      //- Shopping Cart
      a.nav-icon(ui-sref='cart')
        span.icon-cart
      //- Search
      a.nav-icon(ui-sref='search')
        span.icon-search
      ul.navigation-menu(ng-show='!nav.isCollapsed' ng-click="nav.isCollapsed = true")
        li.nav-link
          a(ui-sref='checkout') Checkout
        li.nav-link
          a(ui-sref='cart') Shopping Cart
        li.nav-link
          a(ui-sref='search') Find Products
        li.nav-link
          a(ui-sref='dashboard') Account Settings
        li.nav-link(ng-show='nav.isAdmin()', ui-sref-active='active')
          a(ui-sref='admin') Admin Dashboard
        li.nav-link(ng-hide='nav.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='signup') Sign up
        li.nav-link(ng-hide='nav.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='login') Login
        li.nav-link(ng-show='nav.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='settings') Store Settings
        li.nav-link(ng-show='nav.isLoggedIn()')
          a(ui-sref='logout') Logout

//- div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarController')
//-   div.container
//-     div.navbar-header
//-       button.navbar-toggle(type='button', ng-click='nav.isCollapsed = !nav.isCollapsed')
//-         span.sr-only Toggle navigation
//-         span.icon-bar
//-         span.icon-bar
//-         span.icon-bar
//-       a.navbar-brand(href='/') storeshelf

//-     div#navbar-main.navbar-collapse.collapse(collapse='nav.isCollapsed')
//-       ul.nav.navbar-nav
//-         li(ng-repeat='item in nav.menu', ui-sref-active='active')
//-           a(ui-sref='{{item.state}}') {{item.title}}

//-         li(ng-show='nav.isAdmin()', ui-sref-active='active')
//-           a(ui-sref='admin') Admin

//-       ul.nav.navbar-nav.navbar-right
//-         li(ng-hide='nav.isLoggedIn()', ui-sref-active='active')
//-           a(ui-sref='signup') Sign up

//-         li(ng-hide='nav.isLoggedIn()', ui-sref-active='active')
//-           a(ui-sref='login') Login

//-         li(ng-show='nav.isLoggedIn()')
//-           p.navbar-text Hello {{ nav.getCurrentUser().name }}

//-         li(ng-show='nav.isLoggedIn()', ui-sref-active='active')
//-           a(ui-sref='settings')
//-             span.glyphicon.glyphicon-cog

//-         li(ng-show='nav.isLoggedIn()')
//-           a(ui-sref='logout') Logout
