section
  header
    h1 Welcome
  div.panel
    article
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id enim metus. Maecenas viverra lectus vitae pharetra gravida. Morbi pretium purus in nibh congue sagittis. Suspendisse tempus maximus turpis accumsan scelerisque. Quisque tristique lacus quis mauris ullamcorper blandit. Maecenas efficitur at dui eu viverra. Etiam iaculis, dui condimentum euismod sagittis, diam augue auctor justo, vel auctor metus quam ac erat.
section
  header
    h1 Product Detail
  div.panel
    p Home > Category > Sub Category > #####-##

    .product-img
      img(src="http://www.fillmurray.com/150/250")

    article
      p Name
      p Category
      p Quantity
      p Custom 1

    article.footer
      p Price
      p $999.99
      p Add to cart/Remove From Cart/Checkout?
    br
    article
      p Description
section
  header
    h1 Cart
  div.panel
    article
      img(src="http://www.fillmurray.com/100/100")
      p Item Name
      p SKU
      p Price
      p $999.99
    article.footer
      p Remove
      p Qty
    br
    article.footer
      p Total Price
      p $2009.98 + shipping
      p Checkout
section
  header
    h1 Login
  div.panel
    article
      p Email
      p Password
      p Login
      p Forgot Password?
section
  header
    h1 Sign Up
  div.panel
    article
      p New Email
      p New Password
      p Confirm Password
section
  header
    h1 Checkout
  div.panel
    article.header
      img(src='assets/images/step1.png')
      h2 Shipping Address
    article
      p Email Address
      p Recipient Name
      p Street Address
      p Zipcode
      p City
      p State
  div.panel
    article.header
      img(src='assets/images/step2.png')
      h2 Shipping
    article
  div.panel
    article.header
      img(src='assets/images/step3.png')
      h2 Payment Information
    article
      p Card Number
      p Expiration
      p CVC
      p --- preview card ---
  div.panel
    article.header
      img(src='assets/images/step4.png')
      h2 Confirm Purchase
    article
      p A total of $???.?? will be charged to the card ending in 1234.
section
  header
    h1 Confirmation
  div.panel
    article.header
      h2 Thank you for your purchase
    article
      p order transaction #123456789 was successful
      p your order will be processed <order processing rule>
      p An email will be sent and will update your account when the order has been processed/shipped.
      p show receipt
section
  header
    h1 Dashboard
  div.panel
    ul
      li
        a(href="") Order History
      li
        a(href="") User Settings
      li
        a(href="") Manage Orders * admin
      li
        a(href="") Manage Products * admin
      li
        a(href="") Sales Information * admin
      li
        a(href="") Manage Users *admin
      li
        a(href="") Store Settings *admin
  div.panel
    article.header
      h2 Order History
    article
      p Things go here
    article.header
      h2 User Settings
    article
      p Things go here
    article.header
      h2 Manage Orders
    article
      p Things go here
    article.header
      h2 Manage Products
    article
      p Things go here
    article.header
      h2 Sales Information
    article
      p Things go here
    article.header
      h2 Manage Users
    article
      p Things go here
    article.header
      h2 Store Settings
    article
      p Things go here


section
  header
    h1 Search
section
  header
    h1 Add Product
section
  header
    h1 Store Settings





    //- p.lead Kick-start your next web app with Angular Fullstack
    //- img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

//- .container
//-   .row
//-     .col-lg-12
//-       h1.page-header Features:
//-       ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in main.awesomeThings')
//-         li
//-           a(href='#', tooltip='{{thing.info}}')
//-             | {{thing.name}}
//-             button.close(type='button', ng-click='main.deleteThing(thing)') &times;

//-   form.thing-form
//-     label Syncs in realtime across clients
//-     p.input-group
//-       input.form-control(type='text', placeholder='Add a new thing here.', ng-model='main.newThing')
//-       span.input-group-btn
//-         button.btn.btn-primary(type='submit', ng-click='main.addThing()') Add New
