section
  header
    h1 Welcome
  div.panel
    article
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id enim metus. Maecenas viverra lectus vitae pharetra gravida. Morbi pretium purus in nibh congue sagittis. Suspendisse tempus maximus turpis accumsan scelerisque. Quisque tristique lacus quis mauris ullamcorper blandit. Maecenas efficitur at dui eu viverra. Etiam iaculis, dui condimentum euismod sagittis, diam augue auctor justo, vel auctor metus quam ac erat.
section
  header
    h1 Product Detail
  div.panel.detail
    p Home > Category > Sub Category > #####-##

    img(src="http://www.fillmurray.com/150/250")

    article
      ul.fields
        li Name
        li Category
        li Quantity
        li Custom 1
      ul.values
        li Name Field
        li Category Field
        li Quantity Field
        li Custom 1 Field

    article.footer
      ul
        li Price
        li $999.99
      button Add to cart

    article
      p Description
section
  header
    h1 Cart
  div.panel
    article
      img(src="http://www.fillmurray.com/100/100")
      p Item Name
      p SKU
      p Price
      p $999.99
    article.footer
      p Remove
      p Qty
    br
    article.footer
      p Total Price
      p $2009.98 + shipping
      p Checkout
section
  header
    h1 Login
  div.panel
    article
      p Email
        input(type="email" placeholder="Enter Email")
      p Password
        input(type="password" placeholder="Enter Password")
      button Login
      p Forgot Password?
section
  header
    h1 Sign Up
  div.panel
    article
      p New Email
        input(type="email" placeholder="New Email")
      p New Password
        input(type="password" placeholder="New Password")
      p Confirm Password
        input(type="password" placeholder="Confirm Password")
      button Register
section
  header
    h1 Checkout
  div.panel
    article.header
      img(src='assets/images/step1.png')
      h2 Shipping Address
    article
      p Email Address
        input(type="text" placeholder="Enter Email")
      p Recipient Name
        input(type="text" placeholder="Recipient Name")
      p Street Address
        input(type="text" placeholder="Street Address")
      p Zipcode
        input(type="text" placeholder="Zipcode")
      p City
        input(type="text" placeholder="City")
      p State
        input(type="text" placeholder="State")
  div.panel
    article.header
      img(src='assets/images/step2.png')
      h2 Shipping
    article
  div.panel
    article.header
      img(src='assets/images/step3.png')
      h2 Payment Information
    article
      p Card Number
        input(type="text" placeholder="Enter Card Number")
      p Expiration
        input(type="text" placeholder="Expiration")
      p CVC
        input(type="text" placeholder="CVC")
      img(src="http://www.fillmurray.com/300/150")
  div.panel
    article.header
      img(src='assets/images/step4.png')
      h2 Confirm Purchase
    article
      p A total of $???.?? will be charged to the card ending in 1234.
section
  header
    h1 Confirmation
  div.panel
    article.header
      h2 Thank you for your purchase
    article
      p order transaction #123456789 was successful
      p your order will be processed .order processing rule.
      p An email will be sent and will update your account when the order has been processed/shipped.
      p show receipt
section
  header
    h1 Dashboard
  div.panel
    ul.dashboard
      li
        a(href="") Order History
      li
        a(href="") User Settings
      li
        a(href="") Manage Orders * admin
      li
        a(href="") Manage Products * admin
      li
        a(href="") Sales Information * admin
      li
        a(href="") Manage Users *admin
      li
        a(href="") Store Settings *admin
  div.panel
    article.header
      h2 Order History
    article
      p Things go here
  div.panel
    article.header
      h2 User Settings
    article
      p Things go here
  div.panel
    article.header
      h2 Manage Orders
    article
      p Things go here
  div.panel
    article.header
      h2 Manage Products
    article
      p Things go here
  div.panel
    article.header
      h2 Sales Information
    article
      p Things go here
  div.panel
    article.header
      h2 Manage Users
    article
      p Things go here
  div.panel
    article.header
      h2 Store Settings
    article
      p Things go here

section
  header
    h1 Search
  div.panel
    input(type="text" placeholder="Find a Product")
    article
      ul
        li All
        li Category
          li Sub Category
          li Sub Category
        li Category
          li Sub Category
    p Displaying Items From .Category.
    ul.products
      li
        img(src="http://www.fillmurray.com/100/150")
        h2 $999.99
        p Normal Item
          button.addCart Add to cart
      li
        img(src="http://www.fillmurray.com/100/150")
        h2 $999.99
        p Normal Item
          button.addCart Add to cart
      li
        img(src="http://www.fillmurray.com/100/150")
        h2 $999.99
        p Normal Item
          button.addCart Add to cart
      li
        img(src="http://www.fillmurray.com/100/150")
        h2 $999.99
        p Normal Item
          button.addCart Add to cart
      li
        img(src="http://www.fillmurray.com/100/150")
        h2 $999.99
        p Normal Item
          button.addCart Add to cart
section
  header
    h1 Add Product
  div.panel
    ul.products
      li
        img(src="http://www.fillmurray.com/100/150")
        h2 $999.99
        p New Item
          button.addCart Add to cart
    article
      p Name
        input(type="text" placeholder="Name")
      p Category
        input(type="text" placeholder="Category")
      p Base Price
        input(type="text" placeholder="Base Price")
      p Image
        input(type="text" placeholder="Image")
      p SKU #
        input(type="text" placeholder="SKU #")
    article
      p Description
        input(type="text")
  div.panel
    article.header
      h2 Custom Attributes
    article
      p Attribute Name
        input(type="text" placeholder="Attribute Name")
      table
        tr
          th -
          th Value
          th +Price
          th Image
          th SKU
        tr
          td
            button.warning.small DEL
          td
            input(type="text" placeholder="Value")
          td
            input(type="text" placeholder="+Price")
          td
            input(type="text" placeholder="Image")
          td
            input(type="text" placeholder="SKU")
      button Update

      table
        tr
          th -
          th Name
          th Preview
        tr
          td
            button.warning.small DEL
          td
            span Color
          td
            select(name="dropdown")
              option(value="option1") Red
              option(value="option2") Blue
              option(value="option2") Green

section
  header
    h1 Store Settings
  div.panel
    ul
      li category nesting
      li stripe user setup
        li secret key
      li Homepage settings
        li Welcome Customization
        li Carousel slots
        li Special Items
      li Color Themes
      li Store attributes
        li store name
        li header information/logo
        li order processing policy




    //- p.lead Kick-start your next web app with Angular Fullstack
    //- img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

//- .container
//-   .row
//-     .col-lg-12
//-       h1.page-header Features:
//-       ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in main.awesomeThings')
//-         li
//-           a(href='#', tooltip='{{thing.info}}')
//-             | {{thing.name}}
//-             button.close(type='button', ng-click='main.deleteThing(thing)') &times;

//-   form.thing-form
//-     label Syncs in realtime across clients
//-     p.input-group
//-       input.form-control(type='text', placeholder='Add a new thing here.', ng-model='main.newThing')
//-       span.input-group-btn
//-         button.btn.btn-primary(type='submit', ng-click='main.addThing()') Add New
