section {
  $panel-color: #FDFEE8;
  $panel-color-medium: shade($panel-color, 16%);
  $panel-color-dark: shade($panel-color, 25%);
  $panel-color-table: shade($panel-color, 20%);

  display: block;

  header {
    position:relative;
    background-color: $panel-color-dark;
    height: 2em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);

    h1 {
      line-height: .85em;
      font-size: 3em;
      margin: 0px 10px;
    }
  }

  .panel {
    @include outer-container;
    background-color: $panel-color;
    margin-top: 0px;
    padding: 2px 10px;

    &:nth-child(2) {
      padding-top: 15px;
    }
    &:last-child {
      padding-bottom: 15px;
    }

    input {
      width: 100%;
    }

    ul.products {

      li {
        $border: 1px solid #000000;
        @include span-columns(4 of 12);
        @include omega(3n);
        margin-bottom: 10px;


        img {
          display: block;
          width: 100%;
          height: 150px;
          border: $border;
          border-radius: 10px 10px 0px 0px;
        }

        h2 {
          margin: 0px;
          padding: 1px 5px;
          background-color: $panel-color-medium;
          text-align: right;
        }

        p {
          margin: 0px;
          padding-top: 5px;
          background-color: $panel-color-dark;
          text-align: center;
          border-radius: 0px 0px 5px 5px;
          border-bottom: $border;

          button {
            margin: 2px;
            width: 95%;
          }
        }

        h2, p {
          border-left: $border;
          border-right: $border;
        }
      }
    }
    ul.dashboard {
      li {
        @include span-columns(3 of 12);
        @include omega(4n);
        background: rgba(0,0,0,0.50);
        border: 1px solid #000000;
        border-radius: 8px;
        font-size: 18px;
        color: #FFFFFF;
        height: 100px;
        margin-bottom: 5px;

        a {
          display: block;
          color: white;
          padding-top: 25%;
          text-align: center;
          height: 100%;
        }
      }
    }

    article {
      background-color: $panel-color-medium;
      &.footer, &.header {
        padding: 5px;
        background-color: $panel-color-dark;
        h2 {
          padding-left: 5px;
          margin: 0px;
          display: inline;
        }
      }
      padding: 10px;

      p {
        margin: 0px;
      }

      table {
        width: 100%;
        background-color: $panel-color-table;

        tr:first-child {
          text-align: left;
          background-color: $panel-color-dark;
        }
      }
    }
  }
}

.footer ul {
  @include clearfix;

  li {
    font-family: BebasNeueBold;
    font-size: 25px;
  }
  li:first-child {
    float: left;
  }
  li:last-child {
    float: right;
  }
}

.product {
  @include row;
  position: relative;

  img {
    @include span-columns(3 of 12);
  }

  .info {
    @include span-columns(5 of 12);
  }

  .price {
    @include span-columns(4 of 12);
    text-align: right;
    font-size: 1.5em;

    :last-child {
      font-family: BebasNeueBold;
      font-size: 1.5em;
      position: absolute;
      bottom: 0;
      right: 0;
      padding-right: 10px;
    }
  }
}

input {
  background-color: #efefef;
  border: 2px solid #979797;
  font-size: 20px;

  &:hover {
    background-color: white;
  }
}

select {
  font-family: BebasNeueBold;
  font-size: 20px;
  background-color: white;
  border: 2px solid #979797;
  width: 100%;
}
