section
  header
    h1 Welcome
  div.panel
    article
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id enim metus. Maecenas viverra lectus vitae pharetra gravida. Morbi pretium purus in nibh congue sagittis. Suspendisse tempus maximus turpis accumsan scelerisque. Quisque tristique lacus quis mauris ullamcorper blandit. Maecenas efficitur at dui eu viverra. Etiam iaculis, dui condimentum euismod sagittis, diam augue auctor justo, vel auctor metus quam ac erat.
section
  header
    h1 Product Detail
  div.panel
    p Home > Category > Sub Category > #####-##

    .product-img
      img(src="http://www.fillmurray.com/150/250")

    article
      p Name
      p Category
      p Quantity
      p Custom 1

    article.footer
      p Price
      p $999.99
      p Add to cart/Remove From Cart/Checkout?
    br
    article
      p Description
section
  header
    h1 Cart
  div.panel
    article
      img(src="http://www.fillmurray.com/100/100")
      p Item Name
      p SKU
      p Price
      p $999.99
    article.footer
      p Remove
      p Qty
    br
    article.footer
      p Total Price
      p $2009.98 + shipping
      p Checkout
section
  header
    h1 Login
  div.panel
    article
      p Email
      p Password
      p Login
      p Forgot Password?
section
  header
    h1 Sign Up
  div.panel
    article
      p New Email
      p New Password
      p Confirm Password
section
  header
    h1 Checkout
section
  header
    h1 Order Confirmation
section
  header
    h1 Account Dashboard
section
  header
    h1 Search
section
  header
    h1 Add Product
section
  header
    h1 Store Settings





    //- p.lead Kick-start your next web app with Angular Fullstack
    //- img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

//- .container
//-   .row
//-     .col-lg-12
//-       h1.page-header Features:
//-       ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in main.awesomeThings')
//-         li
//-           a(href='#', tooltip='{{thing.info}}')
//-             | {{thing.name}}
//-             button.close(type='button', ng-click='main.deleteThing(thing)') &times;

//-   form.thing-form
//-     label Syncs in realtime across clients
//-     p.input-group
//-       input.form-control(type='text', placeholder='Add a new thing here.', ng-model='main.newThing')
//-       span.input-group-btn
//-         button.btn.btn-primary(type='submit', ng-click='main.addThing()') Add New
