section {
  $panel-color: #FDFEE8;
  $panel-color-medium: shade($panel-color, 16%);
  $panel-color-dark: shade($panel-color, 25%);

  display: block;

  header {
    position:relative;
    background-color: $panel-color-dark;
    height: 2.7em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);

    h1 {
      font-family: BebasNeueBold;
      line-height: .85em;
      font-size: 4em;
      margin: 0px 10px;
    }
  }

  .panel {
    background-color: $panel-color;
    margin-top: 0px;
    padding: 20px 10px;

    article {
      background-color: $panel-color-medium;

      &.footer {
        background-color: $panel-color-dark;
      }
      padding: 10px;

      p {
        margin: 0px;
      }
    }
  }
}
