section
  header
    h1 Dashboard
  div.panel
    ul.dashboard
      li
        a(href="") Order History
      li
        a(href="") User Settings
      li
        a(href="") Manage Orders * admin
      li
        a(href="") Manage Products * admin
      li
        a(href="") Sales Information * admin
      li
        a(href="") Manage Users *admin
      li
        a(href="") Store Settings *admin
  div.panel
    article.header
      h2 Order History
    article
      p Things go here
  div.panel
    article.header
      h2 User Settings
    article
      p Things go here
  div.panel
    article.header
      h2 Manage Orders
    article
      p Things go here
  div.panel
    article.header
      h2 Manage Products
    article
      p Things go here
  div.panel
    article.header
      h2 Sales Information
    article
      p Things go here
  div.panel
    article.header
      h2 Manage Users
    article
      p Things go here
  div.panel
    article.header
      h2 Store Settings
    article
      p Things go here
