section
  header
    h1 Confirmation
  div.panel
    article.header
      h2 Thank you for your purchase
    article
      p order transaction #123456789 was successful
      p your order will be processed .order processing rule.
      p An email will be sent and will update your account when the order has been processed/shipped.
      p show receipt
