.signup {
  .form-group {
    padding-bottom: 10px;
    text-align: left;
  }
  label {
    font-size: 2em;
  }
  button {
    margin: 10px;
    width: 50%;
    height: 2em;
  }
  a {
    display: block;
    text-decoration: underline;
  }
  text-align: center;
}
