section.cart
  header
    h1 Cart
  div.panel
    article.product
      img(src="http://www.fillmurray.com/100/100")
      ul.info
        li Item Name
        li SKU: #####-##
      ul.price
        li Price
        li $999.99
    article.footer
      ul
        li
          button.warning Remove
        li qty
          .quantitybutton
            button.decrease
              span.icon-minus
            input(type='number' value="1")
            button.increase
              span.icon-plus
    br
    article.footer
      h2 Total Price
      p $2009.98
        span + shipping
      button.checkout Checkout

