section.cart
  header
    h1 Cart
  div.panel
    .item(ng-repeat="item in vm.cart track by $index")
      article.product
        img(src="{{item.product.image}}")
        ul.info
          li {{item.product.name}}
          li SKU: {{item.product.sku}}
        ul.price
          li Price
          li {{item.product.price}}
      article.footer
        ul
          li
            form(ng-submit="vm.removeFromCart($index)")
              input.warning(type="submit" value="Remove")
          li qty
            .quantitybutton
              button.decrease
                span.icon-minus
              input(type='number' value="1")
              button.increase
                span.icon-plus
    br
    article.footer
      h2 Total Price
      p $2009.98
        span + shipping
      button.checkout Checkout

