section.cart
  header
    h1 Cart
  div.panel
    .item(ng-repeat="item in vm.cart track by $index")
      article.product
        img(src="{{item.product.image}}")
        ul.info
          li {{item.product.name}}
          li SKU: {{item.product.sku}}
          li {{item.attributes[0].value}}
        ul.price
          li Price
          li {{(item.product.price + item.attributes[0].price) * item.count | currency}}
      article.footer
        ul
          li
            form(ng-submit="vm.removeFromCart($index)")
              input.warning(type="submit" value="Remove")
          li qty
            .quantitybutton
              button.decrease(ng-click="vm.decrease($index)")
                span.icon-minus
              input(ng-model="item.count" type='number' ng-change='vm.updateChange($index)')
              button.increase(ng-click="vm.increase($index)")
                span.icon-plus
    br
    article.footer
      h2 Total Price
      p {{vm.total | currency}}
        span + shipping
      button.checkout Checkout

