section
  header
    h1 Search
  div.panel
    input(type="text" placeholder="Find a Product")
    article
      ul
        li All
        li Category
          li Sub Category
          li Sub Category
        li Category
          li Sub Category
    p Displaying Items From .Category.
    ul.products
      li
        img(src="http://www.fillmurray.com/100/150")
        h2 $999.99
        p Normal Item
          button.addCart Add to cart
      li
        img(src="http://www.fillmurray.com/100/150")
        h2 $999.99
        p Normal Item
          button.addCart Add to cart
      li
        img(src="http://www.fillmurray.com/100/150")
        h2 $999.99
        p Normal Item
          button.addCart Add to cart
      li
        img(src="http://www.fillmurray.com/100/150")
        h2 $999.99
        p Normal Item
          button.addCart Add to cart
      li
        img(src="http://www.fillmurray.com/100/150")
        h2 $999.99
        p Normal Item
          button.addCart Add to cart
